hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    font-family: var(--fonte-principal);
}

.lista-rodape{
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .lista-rodape{
        display: flex;
        flex-direction: column;
    }

    .lista-rodape__titulo {
        color: #858585;
        font-family: Poppins;
        font-weight: 400;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__link{
        text-decoration: none;
        margin-left: 0.2em;
        color: var(--preto);
        font-family: var(--fonte-principal);
        font-size: 14px;
        margin-left: 8px;
    }

    .rodape__titulo{
        font-size: 24px;
    }
}

@media screen and (min-width:1728px){
    .lista-rodape{
        border-left: 1px solid #858585;
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}